/* Universial body and container */
body {
    position: inherit;
    display: flex;
    height: 100%;
    background-color: #B2EBF2;
    animation: fadeIn 0.4s ease-in-out;
    backface-visibility: hidden;
    font-family: Verdana;
    box-sizing: border-box;
    justify-content: center;
}

.box-container {
    position: fixed;
    display: flex;
    margin: inherit;
    top: 60%;
    transform: translate(-50%, -60%);
    width: 100%;
    height: 100%;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.page-ani {
    animation: fadeIn 0.5s ease-out;
}



/* Search Box of the main page */
.search-box:hover > .search-txt{
    width: 75%;
    padding: 0 6px;
    background: #E0F7FA;
    border-radius: 40px;
    color: black;
}
.search-box {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #006064;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    order: 1;
}
.search-btn {
    color: #E0F7FA;
    float: right;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    background: #006064;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75.5%;
    cursor: pointer;
}
.search-btn:active {
    opacity: 0.3;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #26C6DA;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 65%;
}


/* Navigiation button at the upper center of the main page */
.home {
    color: #00838F;
    position: absolute;
    left: 45%;
    top: 18%;
    order: 2;
    height: 50px;
    width: 50px;
}
.home:active {
    opacity: 0.4;
    transform: rotate(60deg);

}


.ani {
    animation: fadeInDown 0.5s ease-out;
}

/* Box that has City Name and Tempreture */
.text-box{
    left: 8%;
    position: absolute;
    top: 33%;
    height: 40%;
    width: 55%;
    display: flex;
    flex-flow: column;
    order: 3;
    box-sizing: border-box;
}
.CityNameStyle  {
    position: relative;
    padding : 5%;
    color: #00B8D4;
    text-transform : uppercase;
    font-weight: 900;
    font-size: 9vw;
    letter-spacing: 0.1rem;
}
.CityTempStyle  {
    line-height: 10rem;
    padding : 5%;
    color: #00838F;
    font-weight: 700;
    font-size: 24vw;
    letter-spacing: .1rem;
    transition: .6s;
    backface-visibility: hidden;
    align-self: center;
}

.condition{
    position: absolute;
    left: 57%;
    top: 41%;
    height: 32%;
    width: 40%;
    padding-top: 5%;
    text-align: center;
    order: 3;
}
.icon{
    height: 35%;
    position: relative;
    color: #00B8D4;
    margin-bottom: 20px;
}
.cCond{
    position: relative;
    padding: 5%;
    color: #00838F;
    font-size: 6vw;
    font-weight: 700;
}


.down-text-box{
  position: absolute;
  width: 100%;
  top: 74%;
  display: flex;
  flex-flow: row;
  order: 4;
}

.col{
    float: left;
    width: 33.33%;
    padding: 20px;
    text-align: center;
    position: relative;
    margin: auto;
}

.CityHumidityStyle {
    color: #00838F;
    font-weight: 500;
    font-size: 5vw;
    letter-spacing: .1rem;
    animation: fadeInDown 1s ease-out;
    backface-visibility: hidden;
}


.share-btn{
    position: absolute;
    cursor: pointer;
    left: 7%;
    color: #2f3640;
    border: 2px solid #00ACC1;
    background-color: none;
    order: 20;
    height: 36px;
    width: 40%;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    font-size: 3.5vw;
    font-weight: 600;
    border-radius: 40px;
    top: 89%;
    color: #00ACC1;
}



.nav{
    position: absolute;
    top: 89%;
    left: 50%;
    color: white;
    order: 20;
    height: 36px;
    width: 40%;
    background-color: #00ACC1;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 3.5vw;
    font-weight: 600;
    border-radius: 40px;
}

.no-cities {
    color: #00B8D4;
    left: 35%;
    position: absolute;
    opacity: 0.5;
}


.list-type{
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 33%;
    left: 5%;
    width: 90%;
    box-sizing: border-box;
}

.list-type ul {
    counter-reset: li;
    list-style: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;
}

.list-type ul ul {
    margin: 0 0 0 2em;
}

.list-type li{
    position: relative;
    display: block;
    padding: 8px 16px;
    margin: .5em .5em;
    height: 48px;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    animation: fadeInDown 0.5s ease-out;
    border-bottom: 1px solid rgb(190, 189, 189);
}


.list-type li.ng-leave{
    transition: 0.7s linear all;
    opacity: 0;
}

.list-type li.ng-leave.ng-leave-active {
    opacity: 1;
    transform: translateX(-200%);
}

.trashIcon{
    cursor: pointer;
    float: right;
    margin: 5px;
}

.trashIcon:hover{
    color: #ffe6e6;
}

.starIcon {
    cursor: pointer;
    float: right;
    margin: 5px;
}

.starIcon:hover{
    color: #ffe6e6;
}

.err {
    position: absolute;
    top: 80%;
    padding-left: 10%;
    padding-right: 10%;
    left: 7%;
}
    


@keyframes fadeInDown {
    0% {
        transition: 0.2s linear all;
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        transition: 0.2s linear all;
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
