/* Universial body and container */
body {
    position: inherit;
    display: flex;
    height: 100%;
    background-color: #B2EBF2;
    animation: fadeIn 0.4s ease-in-out;
    backface-visibility: hidden;
    font-family: "Comic Sans MS", cursive, sans-serif;
    box-sizing: border-box;
    justify-content: center;
}

.box-container {
    position: fixed;
    display: flex;
    margin: inherit;
    top: 60%;
    transform: translate(-50%, -60%);
    width: 100%;
    height: 100%;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.page-ani {
    animation: fadeIn 0.5s ease-out;
}



/* Search Box of the main page */
.search-box:hover > .search-txt{
    width: 75%;
    padding: 0 6px;
    background: #E0F7FA;
    border-radius: 40px;
    color: black;
}
.search-box {
    position: relative;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #006064;
    height: 3%;
    border-radius: 40px;
    padding: 3%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    order: 1;
}
.search-btn {
    color: white;
    float: right;
    width: 15%;
    /* height: 2%; */
    border-radius: 50%;
    background: #006064;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75.5%;
    cursor: pointer;
}
.search-btn:active {
    opacity: 0.3;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #26C6DA;
    font-size: 4.5vw;
    transition: 0.4s;
    line-height: 20px;
    width: 65%;
}

.top-nav {
    position: absolute;
    display: flex;
    flex-flow: row;
    top: 17%;
    width: 100%;
    justify-content: space-around;
}

.share-btn{
    cursor: pointer;
    font-size: 8vw;
    color: white;
    width: 30%;
    text-align: center;
    text-shadow: .5px .5px 70px white;

}
.share-btn:active{
    opacity: 0.4;
}

.nav{
    color: white;
    cursor: pointer;
    font-size: 9vw;
    font-weight: 600;
    width: 30%;
    text-align: center;
    text-shadow: .5px .5px 50px white;
}

/* Navigiation button at the upper center of the main page */
.home {
    color: #006064;
    top: 18%;
    width: 33.33%;
    text-align: center;
    flex-grow: 2;
}
.home:active {
    opacity: 0.4;
    transform: rotate(40deg);
    transition-duration: 0.4s;
}



.ani {
    animation: fadeInDown 0.2s ease-out;
}

/* Box that has City Name and Tempreture */
.text-box{
    left: 28%;
    position: absolute;
    text-align: center;
    top: 2%;
    height: 59%;
    width: 43%;
    display: flex;
    flex-flow: column;
    order: 3;
    box-sizing: border-box;
}
.CityNameStyle  {
    position: relative;
    padding : 5%;
    color: #00B8D4;
    text-transform : uppercase;
    font-weight: 900;
    font-size: 11vw;
    letter-spacing: 0.1rem;
}


.mid{
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: center;
}

.CityTempStyle  {
     padding: 3%;
     color: #00838F;
     /* font-weight: 700; */
     font-size: 24vw;
}
.condition{
    position: absolute;
    left: 57%;
    top: 41%;
    height: 32%;
    width: 40%;
    padding-top: 5%;
    text-align: center;
    order: 3;
}
.icon{
    height: 35%;
    position: relative;
    color: #00838F;
    margin-bottom: 20px;
    padding: 3%;
}

.cCond{
    position: relative;
    padding: 5%;
    color: #00838F;
    font-size: 6vw;
    font-weight: 700;
}


.down-text-box{
  position: absolute;
  width: 100%;
  top: 77%;
  display: flex;
  flex-flow: row;
  order: 4;
}

.col{
    float: left;
    width: 33.33%;
    padding: 20px;
    text-align: center;
    position: relative;
    margin: auto;
    color: #00B8D4;
}

.CityHumidityStyle {
    color: #00838F;
    font-weight: 500;
    font-size: 5vw;
    letter-spacing: .1rem;
    animation: fadeInDown 1s ease-out;
    backface-visibility: hidden;
}



.no-cities {
    color: #00B8D4;
    left: 42%;
    position: absolute;
    opacity: 0.5;
}


.list-type{
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 7%;
    left: 19%;
    width: 62%;
    height: 54%;
    box-sizing: border-box;
    overflow: scroll;
}


.list-type ul {
    list-style: none;
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 0;
    margin-bottom: 4em;
}

.list-type ul.ng-leave {
    opacity: 1;
}
.list-type ul.ng-leave.ng-leave-active {
    opacity: 0;
}

.list-type li{
    position: relative;
    display: block;
    padding: 8px 16px;
    margin: .5em 0em;
    height: 48px;
    color: #00838F;
    text-decoration: none;
    font-size: 16px;
    animation: fadeInDown 0.5s ease-out;
    border-bottom: 1px solid rgb(190, 189, 189);
}


.list-type li.ng-leave{
    transition: 0.2s linear all;
    opacity: 1;
}

.list-type li.ng-leave.ng-leave-active {
    opacity: 0;
}

.trashIcon{
    cursor: pointer;
    float: right;
    margin: 5px;
}

.trashIcon:hover{
    color: #ffe6e6;
}

.starIcon {
    cursor: pointer;
    float: right;
    margin: 5px;
}

.starIcon:hover{
    color: #ffe6e6;
}

.err {
    position: absolute;
    top: 80%;
    padding-left: 10%;
    padding-right: 10%;
    left: 7%;
}

.round {
    background-color: white;
    position: absolute;
    width: 240%;
    height: 100%;
    border-radius: 50%;
    top: 28%;
    right: -71%;
}


@keyframes fadeInDown {
    0% {
        transition: 0.2s linear all;
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        transition: 0.2s linear all;
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}