
body {
    position: inherit;
    display: flex;
    height: 100%;
    background-color: #ffe6e6;
    animation: fadeIn 0.4s ease-in-out;
    backface-visibility: hidden;
    font-family: sans-serif;
    box-sizing: border-box;
    justify-content: center;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.box-container {
    position: fixed;
    display: flex;
    margin: inherit;
    top: 60%;
    transform: translate(-50%, -60%);
    width: 100%;
    height: 100%;
}

.nav{
    position: relative;
    top: 17%;
    right: 0%;
    color: #2f3640;
    order: 2;
    height: 50px;
    width: 50px;
}

.search-box:hover > .search-txt{
    width: 75%;
    padding: 0 6px;
    background: #f2f2f2;
    border-radius: 40px;
    color: black;
}

.search-box {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    order: 1;
}

.search-btn {
    color: #f2f2f2;
    float: right;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75.5%;
    cursor: pointer;
}

.search-btn:active {
    animation: fadeIn 0.5s ease-out;
}


.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 65%;
}


.home {
    color: #2f3640;
    position: relative;
    right: 28%;
    top: 20%;
    order: 2;
    height: 50px;
    width: 50px;
    justify-content: center;
    display: flex;
}


.text-box{
    left: 8%;
    position: absolute;
    top: 33%;
    height: 40%;
    width: 55%;
    /* text-align: center; */
    display: flex;
    flex-flow: column;
}

  .ani {
    animation: fadeInDown 0.5s ease-out;
  }

  .page-ani {
      animation: fadeIn 0.5s ease-out;
  }

.CityNameStyle  {
    position: relative;
    padding : 5%;
    color: rgb(232, 142, 5);
    text-transform : uppercase;
    font-weight: 900;
    font-size: 9vw;
    letter-spacing: 0.1rem;
}


.CityTempStyle  {
    line-height: 10rem;
    padding : 5%;
    color: #b36b00;
    font-weight: 700;
    font-size: 24vw;
    letter-spacing: .1rem;
    /*animation: fadeInDown 1s ease-out;*/
    transition: .6s;
    backface-visibility: hidden;
    /* text-align: center; */
    align-self: center;
}


.condition{
    position: absolute;
    left: 53%;
    top: 33%;
    height: 40%;
    width: 40%;
    padding-top: 5%;
    text-align: center;
}

.icon{
    height: 35%;
    position: relative;
}

.cCond{
    position: relative;
    padding: 5%;
    color: black;
    font-size: large;
}


.down-text-box{
  position: absolute;
  width: 100%;
  top: 74%;
  display: flex;
  flex-flow: row;
}

.CityHumidityStyle {
    color: #b36b00;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .2rem;
    animation: fadeInDown 1s ease-out;
    backface-visibility: hidden;
}

.col{
    float: left;
    width: 33.33%;
    padding: 20px;
    text-align: center;
    position: relative;
    margin: auto;
}

.share-btn{
    color: gray;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 66%;
    left: 40%;
    color: #2f3640;
    border-radius: 20px;
    background-color: none;
}

.cityTable {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 33%;
    left: 5%;
    width: 90%;
}
.cityTable li{
    padding:8px 16px;
    border-bottom:1px solid #ddd;
}
.cityTable li:last-child{
    border-bottom:none;
}

.list:hover{
    background-color:#ccc
}

.trashIcon{
    cursor: pointer;
    float: right;
    margin: 5px;
}

.trashIcon:hover{
    color: #ffe6e6;
}

.starIcon {
    cursor: pointer;
    float: right;
    margin: 5px;
}

.starIcon:hover{
    color: #ffe6e6;
}

@keyframes fadeInDown {
    0% {
        transition: 0.2s linear all;
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        transition: 0.2s linear all;
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
